button {
  cursor: pointer;
}

.bgi {
  width: 100%;
  height: 100%;
  background-image: url("../images/image69.png");
  background-size: cover;
}

.recovery {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 528px;
  font-size: 24px;
  margin-bottom: 100px;
}

.nameForm {
  display: flex;
  gap: 24px;
  width: 100%;
}

.submit {
  width: 100%;
  height: 50px;
  background-color: #284642;
  color: #fff;
  border: none;
  border-radius: 7px;
  margin-bottom: 16px;
  margin-top: 26px;
}

.checkboxInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

#terms {
  display: none;
}

label[for="terms"] {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
  user-select: none;
  padding-left: 30px;
  font-size: 14px;
  color: #64606a;
}

label[for="terms"]::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #aaa;
  border-radius: 3px;
}

input[type="checkbox"]:checked + label[for="terms"]::before {
  content: "\2713";
  color: #fff;
  background-color: #284642;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

a {
  color: #64606a;
  text-decoration: none;
  border-bottom: 3px solid #284642;
  font-size: 14px;
}
.toLogin {
  padding-top: 14px;
  color: #64606a;
  font-size: 14px;
}

.visible {
  display: block;
}

